:root{

    /* font families */
    --ff-Poppins:'Poppins', sans-serif;


    /* font sizes */
    --fs-extra-large:48px;
    --fs-large:36px;
    --fs-medium:20px;
    --fs-small:18px;
    --fs-very-small:16px;
    --fs-very-very-small:14px;

    
    /* colors */
    --color-black:#000000;
    --color-gray:#C4C4C4;
    --color-light-gray:#E5E5E5;
    --color-red:#C2190E;
    --color-white:#FFFFFF;
    }

/* font familiy */

.ff-Poppins{
    font-family: var(--ff-Poppinsgi);
}

/* font sizes */

.fs-extra-large{
    font-size: var(--fs-extra-large);
}
.fs-large{
    font-size: var(--fs-large);
}
.fs-medium{
    font-size: var(--fs-medium);
}
.fs-small{
    font-size: var(--fs-small);
}
.fs-very-small{
    font-size: var(--fs-very-small);
}
.fs-very-very-small{
    font-size: var(--fs-very-very-small);
}

/* colors */

.color-black{
    color: var(--color-black);
}
.color-gray{
    color: var(--color-gray);
}
.color-light-gray{
    color: var(--color-light-gray);
}
.color-red{
    color: var(--color-red);
}
.color-white{
    color: var(--color-white);
}   
.background-color-red{
    background-color: var(--color-red);
}
.background-color-black{
    background-color:var(--color-black);
}