/* max-width */
.paragraph-1{

    max-width: 470px;
}
.paragraph-2{
    max-width:400px;
}
.paragraph-7{
max-width: 554px;
}
/* footer */

ul {
    padding-left: 0 !important;
}
.line{
    color: #fff;
    height: 2px;
    opacity: 0.7;
}
.rectangle-head{
 max-width: 88px;
 height: 4px;
 background: var(--Red, #C2190E);
}