/* max-width */
.paragraph-1{
    max-width: 470px;
}
.paragraph-2{
    max-width:400px;
}
.paragraph-7{
max-width: 554px;
}

/* opacity */
.opacity-07{
    opacity: 0.7;
}
/* padding */
.pl-8{
    padding-left:8px;
}

.pb-31{
    padding-bottom: 31px;
}
/* footer */

ul {
    padding-left: 0 !important;
}
.line{
    color: #fff;
    height: 2px;
    opacity: 0.7;
}